$primary-color: #3b82f6;

$success-color: #16a34a;
$warning-color: #f59e0b;
$error-color: #ef4444;

$border-color: #1e293b;

$bg-main: #020617;      // nền chính toàn app
$bg-card: #0f172a;      // nền card
$bg-sidebar: #020617;   // sidebar

$text-main: #f1f5f9;
$text-secondary: #94a3b8;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

$font-main: 'Inter', sans-serif;
$font-size-base: 14px;